<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>First_Mate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A599A451C7528080028EBB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A599A5B1C7528090028EBB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A599A661C7528090028EBB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
